<img class="mb-7" src="/assets/home-budget.webp" alt="" width="64" height="64" />

<h2 class="mb-4">Sign up to Home budget</h2>

<div class="w-72 md:w-80">
  <form
    [formGroup]="formService.form"
    class="mb-4 flex flex-col gap-3 rounded-lg border border-solid border-[var(--tui-border-normal)] bg-[var(--tui-background-elevation-1)] p-4"
    (submit)="signUp()">
    <hb-input-text
      [id]="'name'"
      label="Name"
      [control]="formService.form.controls.name"
      [autofocus]="true" />

    <hb-input-email [id]="'email'" label="Email" [control]="formService.form.controls.email" />

    <hb-input-password
      [id]="'password'"
      label="Password"
      [control]="formService.form.controls.password" />

    <button tuiButton size="m" type="submit" [disabled]="formService.form.invalid">Sign up</button>
  </form>

  <p
    class="flex flex-col rounded-lg border border-solid border-[var(--tui-border-normal)] p-3 text-center text-sm md:text-base">
    <span> Exist an account? </span>
    <a
      class="self-center text-[var(--tui-text-action)] hover:text-[var(--tui-text-action-hover)]"
      routerLink="/sign-in">
      Sign in
    </a>
  </p>
</div>
