<hb-dropdown-button [menu]="dropdown" icon="user" title="User avatar" />

<ng-template #dropdown let-close>
  <tui-data-list class="w-28">
    <tui-opt-group>
      <!--      <a tuiOption [routerLink]="['profile']" class="pointer-events-none">Profile</a>-->
      <button tuiOption type="button">
        <hb-switch-theme (switchTheme)="close()" />
      </button>
    </tui-opt-group>
    <tui-opt-group class="after:top-0" (click)="close()">
      @if (isMobileBreakpoint()) {
        <a tuiOption [routerLink]="['sign-up']">Sign up</a>
      }

      <a tuiOption [routerLink]="['sign-in']">Sign in</a>
    </tui-opt-group>
  </tui-data-list>
</ng-template>
