<li
  class="flex w-full justify-between rounded-md border-2 border-solid border-[--tui-border-normal] px-2 py-3 text-sm font-medium lg:text-base">
  <div class="flex items-center" [ngClass]="expense().category | expenseCategoryColor">
    <tui-icon [icon]="expense().category | expenseCategoryIcon" class="h-5 w-5 lg:h-6 lg:w-6" />
    &nbsp;
    <span>{{ expense().category }}</span>
  </div>
  <div class="flex items-center gap-4">
    <div>
      <div>
        <span>{{ expense().amount }}</span>
        <span>{{ expense().currency | expenseCurrencySign }}</span>
      </div>
      <time class="flex flex-col" [dateTime]="expense().date.toString('YMD', '-')">
        <span class="sr-only">Date of expense</span>
        <span class="text-xs text-[--tui-text-secondary]">
          {{ expense().date }}
        </span>
      </time>
    </div>

    <hb-dropdown-button
      [menu]="expenseDropdown"
      size="s"
      icon="ellipsis-vertical"
      title="Expense menu" />
  </div>
</li>

<ng-template #expenseDropdown let-close>
  <tui-data-list class="w-28">
    <button tuiOption type="button" (click)="close()">Edit</button>
    <button tuiOption type="button">Delete</button>
  </tui-data-list>
</ng-template>
