<form class="flex flex-col gap-y-5 pt-5" [formGroup]="formService.form" (ngSubmit)="submit()">
  <div>
    <tui-input-number formControlName="amount" tuiAutoFocus> Type an amount</tui-input-number>

    <tui-error formControlName="amount" [error]="[] | tuiFieldError | async" />
  </div>

  <div>
    <tui-input-date formControlName="date"> Choose a date</tui-input-date>

    <tui-error formControlName="date" [error]="[] | tuiFieldError | async" />
  </div>

  <tui-select formControlName="currency">
    Currency
    <tui-data-list-wrapper *tuiDataList [items]="currencies" />
  </tui-select>

  <tui-select formControlName="category">
    Category
    <tui-data-list-wrapper *tuiDataList [items]="categories" />
  </tui-select>

  <button class="self-start" tuiButton type="submit" size="m" [disabled]="formService.form.invalid">
    Submit
  </button>
</form>
