<form class="flex flex-col gap-y-5 pt-5" [formGroup]="formService.form" (ngSubmit)="submit()">
  <hb-input-number
    [id]="'amount'"
    label="Amout"
    [control]="formService.form.controls.amount"
    [autofocus]="true" />

  <hb-input-date label="Choose a date" [control]="formService.form.controls.date" />

  <hb-select label="Currency" [control]="formService.form.controls.currency" [items]="currencies" />

  <hb-select label="Category" [control]="formService.form.controls.category" [items]="categories" />

  <button class="self-start" tuiButton type="submit" size="m" [disabled]="formService.form.invalid">
    Submit
  </button>
</form>
